
*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    line-height: 1.8;
}
body{
    height: 100%;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fff;
}
html {
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
}
/*debut de header */
nav{
    height: 150px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    border-bottom:2px solid black ;
    box-shadow: gray 2px 2px 10px 0.1px;
}
nav img{
    width: 100px;
    height: 100px;
    margin-left: 100px;
    margin-top: 20px;
}

nav ul.menudereoulant{
    margin-right: 50px;
    margin-top: 60px;
    list-style: none;
}

nav ul.menudereoulant li {
    float: left;
    width: 150px;
}
nav ul.menudereoulant li a{
    text-decoration: none;
    color: #000;
    padding: 20px;
    border-radius: 7px solid ;
}
nav ul.menudereoulant li a:link, ul.menudereoulant li a:visited{
    display: block;
    color: #000;
    text-decoration: none;
    padding: 6px 10px;
    text-align: center;

}
nav ul.menudereoulant li a:active, nav ul.menudereoulant li a:hover{
    background-color: beige;
    border-radius: 7px;
}
.sousmenu{
    display: none;
}
.menudereoulant li:hover .sousmenu{
    display: block;
    position: relative;
    background-color: burlywood;
}

.sousmenu ul{
    display: block;
    margin: 10px;
    list-style: none;
}
.sousmenu ul li{
    width: 150px;
    background-color: white;
}
/*fin du header */
/*debut projet jeux 2D  */

h2.projet{
    margin-left: 50px;
    text-decoration: underline;
    margin-top: 50px;
}

 div.jeux{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: #000 2px solid;
    border-radius: 5px;
    box-shadow: gray 2px 2px 10px 9px;
    margin-top: 2%;
}

 div.jeux div.p1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1%;
    justify-content: center;
}
 div.jeux div.d1v{
    padding: 2px;
    border: #000 2px solid;
    border-radius: 5px;
    box-shadow: gray 2px 2px 10px 9px;
    align-items: center;

}
 div.jeux div.g1t{
    padding: 2px;
    border: #000 2px solid;
    border-radius: 5px;
    box-shadow: gray 2px 2px 10px 9px;
    align-items: center;
    margin: 2%;
    margin-right: 0;
    width: 45%;
}
 div.jeux div.g1t h1{
    text-align: center;
}

 div.jeux div.g1t p{
    padding: 15px;

}
 div.jeux div.g1t div.b1 h4{
    padding: 0 15px ;
}
 div.jeux div.g1t div.b1 a{
    color: blue;
    padding: 0 15px;
}
 div.jeux a {
    text-decoration: none;
    color: #000;
}
 div.jeux video{
    padding: 10px;
    max-height: 525px;
}

@media (max-width:900px) {
     div.jeux video{
        max-width: 850px;
    }
    
}
/*fin projet jeux 2D  */
/*debut projet site ongle  */
 div.ongle{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: #000 2px solid;
    border-radius: 5px;
    box-shadow: gray 2px 2px 10px 9px;
    margin-top: 2%;
}
div.ongle div.p2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1%;
    justify-content: center;
}
div.ongle div.g2v{
    padding: 2px;
    border: #000 2px solid;
    border-radius: 5px;
    box-shadow: gray 2px 2px 10px 9px;
    margin-right: 0;
}
div.ongle div.d2t{
    padding: 2px;
    border: #000 2px solid;
    border-radius: 5px;
    box-shadow: gray 2px 2px 10px 9px;
    width: 45%;
    margin: 2%;
}
 div.ongle div.d2t h1{
    text-align: center;
}

 div.ongle div.d2t p{
    padding: 15px;
}
 div.ongle div.d2t div.b2 h4{
    padding: 10px 15px 10px 15px;
}
 div.ongle div.d2t div.b2 a{
    color: blue;
    padding: 0 15px;
}


 div.ongle a {
    text-decoration: none;
    color: #000;
}
 div.ongle video{
    padding: 10px;
    max-height: 510px;
}
/*fin projet site ongle  */
/*debut projet sql  */
 div.sql{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: #000 2px solid;
    border-radius: 5px;
    box-shadow: gray 2px 2px 10px 9px;
    margin-top: 2%;
}

 div.sql div.p3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1%;
    justify-content: center;
}
 div.sql div.d3v{
    padding: 2px;
    border: #000 2px solid;
    border-radius: 5px;
    box-shadow: gray 2px 2px 10px 9px;
    align-items: center;
}
 div.sql div.g3t{
    padding: 2px;
    border: #000 2px solid;
    border-radius: 5px;
    box-shadow: gray 2px 2px 10px 9px;
    align-items: center;
    margin: 2%;
    margin-right: 0;
    width: 45%;
}
 div.sql div.g3t h1{
    text-align: center;
}

 div.sql div.g3t p{
    padding: 15px;

}
 div.sql div.g3t div.b3 h4{
    padding: 0 15px ;
}
 div.sql div.g3t div.b3 a{
    color: blue;
    padding: 0 15px;
}
 div.sql a {
    text-decoration: none;
    color: #000;
}
 div.sql video{
    padding: 10px;
    max-height: 525px;
}
/*fin projet sql  */
div.a{
    margin: 2%;
}
.contact a {
    text-align: center;
    text-decoration: none;
    color: #000;
}

.contact {
    padding: 25px;
}

.contact img{
    height: 100px;
}
.contact img:hover{
    transform:scale(1.25);
    transition: 0.4s;
}
.contact h1{
    padding-left: 5%;
    margin: 20px;
    text-decoration: underline;
}

.contact div.contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: #0000003d 0 3px 8px;
    border-radius: 12px;
    align-items: center;
    margin: 50px;
}
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
/*fleche*/
.container2 {
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4%;
    padding-top: 2%;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #000;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}
@keyframes pulse {
    to {
        opacity: 1;
    }
}